/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2020, 1:44:22 PM
    Author     : jerom
*/
@font-face {
    font-family: PopsLight;
    src: url('./fonts/PoppinsLight.ttf');
}
@font-face {
    font-family: PopsMed;
    src: url('./fonts/PoppinsMedium.ttf');
}
@font-face {
    font-family: PopsReg;
    src: url('./fonts/PoppinsRegular.ttf');
}
@font-face {
    font-family: PopsBold;
    src: url('./fonts/PoppinsSemiBold.ttf')
}

#contactus {
    font-size: 30px; 
    font-family: PopsBold;
    margin-top: 5vh;
    margin-left: 7vh;
}

#payment {
    font-size: 15px; 
    font-family: PopsReg;
    margin-left: 7vh;
}

#office {
    font-size: 15px; 
    font-family: PopsReg;
    margin-top: 1vh;
    margin-left: 7vh;
}

#address1 {
    font-size: 15px;
    font-family: PopsLight;
    margin-left: 7vh;
}

#address2 {
    font-size: 15px;
    font-family: PopsLight;
    margin-left: 7vh;
}

#text {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 3vh;
    font-size: 14px;
    font-family: PopsReg; 
}

#name {
    font-family: PopsReg;
    color: white;
}

#name1{
    width: 250px;
    height: 20px;
    box-sizing: border-box;  
}

#email {
    font-family: PopsReg;
    color: white;
}
#email1{
    width: 250px;
    height: 20px;
    box-sizing: border-box;  
}

#message {
    font-family: PopsReg;
    color: white;
}

#message1 {
  width: 750px;
  height: 250px;
  box-sizing: border-box;
}

#text2 {
    font-size: 12px;
    font-family: PopsLight;
    font-style: italic;
    margin-top: 3vh;
    color: white;
}

#text3 {
    font-size: 12px;
    font-family: PopsLight;
    font-style: italic;
    color: white;
}

.center{
   text-align: center;
   background-color: grey;
}



