*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopsLight;
    src: url('./fonts/PoppinsLight.ttf');
}
@font-face {
    font-family: PopsMed;
    src: url('./fonts/PoppinsMedium.ttf');
}
@font-face {
    font-family: PopsReg;
    src: url('./fonts/PoppinsRegular.ttf');
}
@font-face {
    font-family: PopsBold;
    src: url('./fonts/PoppinsSemiBold.ttf')
}

html, body, main, section {
    font-family: PopsLight;
    height: 100%;
    width: 100%;
}

.header {
    background: linear-gradient(#F0F0F0, #FFFFFF, #F0F0F0);
}

footer {
    background: #2D2D2D;
}

.nav-link1 {
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: PopsMed;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
    color: #000000;
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

nav {
    min-height: 10vh;
    height: 10vh;
    width: 100%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #F0F0F0 0%, #FFFFFF 50.52%, #F0F0F0 100%);
    box-shadow: 0vh 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
}

.nav-link2 {
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    text-decoration: none;
    display: block;
}

.logo a img {
    display: block;
}

ul {
    list-style-type: none;
}

.nav-links li {
    float: left;
}

.question {
    font-size: 1.6vh;
    float: left;
    display: block;
}

.signup {
    width: 15vh;
    height: 5vh;
    font-size: 1.6vh;
    float: left;
    text-decoration: none;
    color: #2386b0;
    display: block;
}

.titlecover {
    width: 135vh;
    height: 100%;
    display: inline-block;
    background: radial-gradient(circle, #FAFAF5 0%, #F2EFE2 100%);
    box-shadow: inset 0.4vh 0.4vh 1vh rgba(0, 0, 0, 0.25);
}

.form {    
    margin-top: 4.5%;
    margin-left: 4%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

.title1 {
    padding-top: 15%;
    padding-left: 20%;
    font-family: PopsBold;
    font-style: normal;
    font-size: 5vw;
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.35);
}

.title2 {
    display: fixed;
    font-family: PopsMed;
    font-style: normal;
    font-weight: bold;
    font-size: 2.7vw;
    color: #000000;   
    margin-bottom: 10%;
}

.titlecover p {
    padding-left: 20%;
    font-family: PopsReg;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: #8D8D8D;
}

.userinfo {
    padding-left: 2vh;
    width: 37vh;
    height: 5vh;
    background: radial-gradient(circle, rgba(226, 226, 226, 0) 0%, rgba(226, 226, 226, 0.4) 100%);
    border: 0.1vh solid #000000;
    box-sizing: border-box;
    border-radius: 2vh;
    margin-bottom: 3vh;
    display: block;
}

input,
input::-webkit-input-placeholder {
    font-family: PopsReg;
    font-size: 1vw;
}

.signup-signin{
    margin-top: 5vh;
    font-family: PopsReg;
    float: right;
    width: 10vh;
    height: 5vh;
    background: radial-gradient(circle, #F9F8F2 0%, #F2EFE2 100%);
    border: 0.1vh solid #979797;
    box-sizing: border-box;
    border-radius: 2vh;
    display: block;
}

footer a {
    text-decoration: none;
    color: #F4F4F4;
    font-size: 2.7vh;
    display: block;
}

a:hover {
    text-decoration: underline;
}

.column-title {
    font-family: PopsMed;
    font-style: normal;
    font-size: 3.4vh;
    color: #FFFFFF;
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

.footer-section {
    display: flex;
}

.column {
    padding-right: 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 25%;
    text-align: center;
    display: block;
}

.instagram-logo {
    filter: brightness(0) invert(1);
    vertical-align: middle;
    width: 3vh;
    height: 3vh;
}

.error {
    float: left;
    width: 92%; 
    margin: 0 auto; 
    padding: 1vh; 
    border: 0.1vh solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 2vh; 
    text-align: left;
    margin-bottom: 3vh;
}